
.registrationForm {
  background-color: #FFFAFB;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 8px 8px 5px 0px rgba(0,0,0,0.2);
  
  @include medium {
    padding: 40px 40px 30px;
  }

  &__input-container {
    display: flex;
  }

  h1 {
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px $clr-oxford-blue;
    @include f-muli-bold;

    @include medium {
      text-align: left;
    }
  }

  &__input-container {
    position: relative;
    padding: 15px 0;
    margin-top: 10px;
  }
  
  input {
    @include f-muli-regular;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $clr-snow-2;
    outline: 0;
    font-size: 1.3rem;
    color: $clr-oxford-blue;
    padding: 7px 5px;
    background: transparent;
    transition: border-color 0.2s;
  
    &::placeholder {
      color: transparent;
    }

    &:placeholder-shown ~ label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
    &:focus {
      ~ label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        font-weight:700;
      }
      padding-bottom: 6px;  
      border-width: 3px;
      border-image-slice: 1;
    }
  }
  
  label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    padding-left: 5px;
    color: $clr-snow-2;
  }
  
  /* reset input */
  .form__field, input {
    &:required,&:invalid { box-shadow:none; }
  }
}