<template>
  <div class="registrationForm grid center-grid-column">
    <h1 class="default-grid-column">Sign up</h1>
    <form
      class="registrationForm__form default-grid-column"
      @submit="submitForm"
    >
      <p>{{ generalFormError }}</p>
      <div
        class="registrationForm__wrapper"
        :class="{ 'input-error': !!emailError, 'input-valid': isEmailValid }"
      >
        <p class="registrationForm__input-container">
          <input
            v-model="email"
            id="email"
            type="text"
            name="email"
            placeholder="E-mail"
            autocomplete="off"
          />
          <label for="email">E-mail</label>
        </p>
        <span>{{ emailError && emailError }}</span>
      </div>
      <div
        class="registrationForm__wrapper"
        :class="{
          'input-error': !!passwordError,
          'input-valid': isPasswordValid
        }"
      >
        <p class="registrationForm__input-container">
          <input
            v-model="password"
            id="password"
            type="password"
            placeholder="Password"
          />
          <label for="password">Password</label>
        </p>
        {{ passwordError && passwordError }}
      </div>
      <div
        class="registrationForm__wrapper"
        :class="{
          'input-error': !!confirmPasswordError,
          'input-valid': isConfirmPasswordValid
        }"
      >
        <p class="registrationForm__input-container">
          <input
            v-model="confirmPassword"
            id="confirm-password"
            type="password"
            placeholder="Confirm Password"
          />
          <label for="confirm-password">Confirm Password</label>
        </p>
        {{ confirmPasswordError && confirmPasswordError }}
      </div>
      <button
        class="submit"
        type="submit"
        :class="{ 'submit-disable': !this.isFormValid }"
      >
        Send
      </button>
    </form>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { ValidationHelper } from "../../helpers/validationHelpers";

export default Vue.extend({
  name: "RegistrationForm",
  data() {
    return {
      email: "",
      isEmailValid: false,
      emailError: "",
      password: "",
      isPasswordValid: false,
      passwordError: "",
      confirmPassword: "",
      isConfirmPasswordValid: false,
      confirmPasswordError: "",
      generalFormError: "",
      isFormSend: false,
      isFormValid: false
    };
  },
  methods: {
    submitForm: function(e) {
      e.preventDefault();

      if (this.isFormValid) {
        this.email = "";
        this.password = "";
        this.confirmPassword = "";
        this.isFormSend = true;
      }
    }
  },
  watch: {
    email: function() {
      if (this.isFormSend) {
        return;
      }

      this.isFormValid = ValidationHelper.registerSubmitValidation(
        this.email,
        this.password,
        this.confirmPassword
      );
      const emailMessage = ValidationHelper.emailValidation(this.email);
      this.emailError = emailMessage;

      if (!emailMessage) {
        this.isEmailValid = true;
      }
    },
    password: function() {
      if (this.isFormSend) {
        return;
      }

      this.isFormValid = ValidationHelper.registerSubmitValidation(
        this.email,
        this.password,
        this.confirmPassword
      );
      this.passwordError = ValidationHelper.registerPasswordValidation(
        this.password
      );
    },
    confirmPassword: function() {
      if (this.isFormSend) {
        this.isFormSend = false;
        this.isFormValid = false;
        this.isEmailValid = false;
        this.isPasswordValid = false;
        this.isConfirmPasswordValid = false;
        return;
      }

      this.isFormValid = ValidationHelper.registerSubmitValidation(
        this.email,
        this.password,
        this.confirmPassword
      );
      const confirmMessage = ValidationHelper.registerConfirmPasswordValidation(
        this.password,
        this.confirmPassword
      );
      this.confirmPasswordError = confirmMessage;

      if (!confirmMessage && !this.passwordError) {
        this.isConfirmPasswordValid = true;
        this.isPasswordValid = true;
      }
    }
  }
});
</script>

<style lang="scss" scoped>
.registrationForm {
  &__input-container {
    display: flex;
  }
}
// h1 {
//   grid-column: auto / auto;
// }
button {
  margin-top: 20px;
}
</style>
