<template>
  <div class="registrationForm grid center-grid-column">
    <h1 class="default-grid-column">Log in</h1>
    <form
      class="registrationForm__form default-grid-column"
      @submit="submitForm"
    >
      <p>{{ generalFormError }}</p>
      <div
        class="registrationForm__wrapper"
        :class="{ 'input-error': !!emailError, 'input-valid': isEmailValid }"
      >
        <p class="registrationForm__input-container">
          <input
            v-model="email"
            id="email"
            type="text"
            name="email"
            placeholder="E-mail"
            autocomplete="off"
          />
          <label for="email">E-mail</label>
        </p>
        <span>{{ emailError && emailError }}</span>
      </div>
      <div
        class="registrationForm__wrapper"
        :class="{
          'input-error': !!passwordError,
          'input-valid': isPasswordValid
        }"
      >
        <p class="registrationForm__input-container">
          <input
            v-model="password"
            id="password"
            type="password"
            placeholder="Password"
          />
          <label for="password">Password</label>
        </p>
        <span>{{ passwordError && passwordError }}</span>
      </div>
      <button
        class="submit"
        type="submit"
        :class="{ 'submit-disable': !this.isFormValid }"
      >
        Send
      </button>
    </form>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { ValidationHelper } from "../../helpers/validationHelpers";

export default Vue.extend({
  name: "LoginForm",
  data() {
    return {
      email: "",
      password: "",
      emailError: "",
      passwordError: "",
      isEmailValid: "",
      isFormValid: "",
    };
  },
  methods: {
    submitForm() {
      console.log('koko');
    }
  },
  watch: {
    password: function() {
      this.passwordError = ValidationHelper.loginPasswordValidation(this.password);
    },
    email: function() {
      this.emailError = ValidationHelper.emailValidation(this.email);
    }
  }
});
</script>

<style lang="scss" scoped>
button {
  margin-top: 20px;
}
</style>
