<template>
  <div class="main-grid default-grid-column" id="app">
    <LoginForm />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import LoginForm from "../components/LoginForm/LoginForm.vue";

export default Vue.extend({
  name: "Login",
  components: {
    LoginForm
  }
});
</script>

<style lang="scss">
// @import "./assets/styles/main.scss";
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
