<template>
  <div class="main-grid default-grid-column" id="app">
    <RegistrationForm />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import RegistrationForm from "../components/RegistrationForm/RegistrationForm.vue";

export default Vue.extend({
  name: "Registration",
  components: {
    RegistrationForm
  }
});
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
