$clr-scarlet: #ff2E00;

$clr-snow: #FBF5F3;
$clr-fulvous: #E28413;
$clr-oxford-blue: #000022;
$clr-rusty-red: #DE3C4B;
$clr-french-raspberry: #C42847;

$clr-eerie-black: #131515;
$clr-jet: #2B2C28;
$clr-persian-green: #339989;
$clr-middle-green: #7DE2D1;
$clr-middle-green-2: #26CFAA;
$clr-middle-green-3: #75E6CD;
$clr-snow-2: #BFBDC1;
$clr-gray: #EBEBEB;
$clr-green: #9CEC5B;
$clr-blue-munsell: #009FB7;