@import './fonts.scss';

@mixin f-muli-regular {
  font-family: "Mulish Regular", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

@mixin f-muli-black {
  font-family: "Mulish Black", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
}

@mixin f-muli-bold {
  font-family: "Mulish Bold", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
}

@mixin f-muli-light {
  font-family: "Mulish Light", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 200;
}
