@font-face {
  font-family: "Mulish Regular";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Mulish-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Mulish Black";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/Mulish-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Mulish Bold";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Mulish-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Mulish Light";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/Mulish-Light.ttf") format("truetype");
}


@font-face {
  font-family: "Mulish Extra Light";
  font-style: normal;
  font-weight: 200;
  src: url("./assets/fonts/Mulish-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Mulish Extra Bold";
  font-style: normal;
  font-weight: 900;
  src: url("./assets/fonts/Mulish-ExtraBold.ttf") format("truetype");
}
