@import './variables.scss';
@import './mixins.scss';

.main-grid {
  display: grid;
  grid-gap: 20px;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);

  @include medium {
    grid-template-columns: repeat(8, 1fr);
  }

  @include tablet {
    grid-template-columns: repeat(8, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(12, 1fr);
  }
}

.grid {
  display: grid;
  grid-gap: 20px;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);

  @include medium {
    grid-template-columns: repeat(8, 1fr);
  }

  @include tablet {
    grid-template-columns: repeat(8, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(12, 1fr);
  }
}

.default-grid-column {
  @include default-grid-column;
}

.center-grid-column {
  @include center-grid-column;
}