@import './reset.scss';
@import './mixins.scss';
@import './grid.scss';
@import './colors.scss';
@import './fonts.scss';
@import './font-mixins.scss';
@import './modules.scss';


body {
  background-color: $clr-gray;
  @include f-muli-regular;
}

input, textarea, select {
  @include f-muli-regular;
}

h1, h2, h3, h4, h5, h6, span, p, div, main, body, footer, header, li, ul, input, textarea, select, label {
  color: $clr-oxford-blue;
}

.h1 {
  text-align: center;
  font-size: 4rem;
  letter-spacing: 2px;
  @include f-muli-bold;

  @include medium {
    font-size: 5rem;
    text-align: left;
    position: relative;
    width: fit-content;
    z-index: 10;
  };
}

.input-error {
  color: $clr-scarlet;
  text-align: left;
  padding-bottom: 8px;
  box-sizing: border-box;

  input {
    border-bottom: 2px solid $clr-scarlet;
    text-decoration: none;
    &:focus {
      border-image: none;
      ~ label {
        color: $clr-scarlet;
      }
    }
  }

  label {
    color: $clr-scarlet;
  }
}

.input-valid {
  color: $clr-middle-green;
  text-align: left;
  box-sizing: border-box;

  input {
    border-bottom: 2px solid $clr-middle-green;
    text-decoration: none;
    &:focus {
      border-image: none;
      ~ label {
        color: $clr-middle-green;
      }
    }
  }

  label {
    color: $clr-middle-green;
  }
}

.submit {
  @include f-muli-bold;
  color: $clr-middle-green-2;
  border: 2px solid $clr-middle-green-2;
  background: transparent;
  border-radius: 10px;
  padding: 5px 25px;
  font-size: 18px;
  cursor: pointer;
  display: block;
  margin-right: auto;
  transition: .5s linear;
  letter-spacing: 2px;
  outline: none;

  @include medium {
    font-size: 20px;
  }

  &:hover {
    color: $clr-middle-green-3;
    border-color: $clr-middle-green-3;
  }
}

.submit-disable {
  color: $clr-snow-2;
  border-color: $clr-snow-2;
  pointer-events: none;
}
