@import './variables.scss';
@import './font-mixins.scss';

@mixin medium {
  @media (min-width: $medium-breakpoint) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin default-grid-column {
  grid-column: 1 / 5;
  grid-template-columns: repeat(4, 1fr);

  @include medium {
    grid-column: 1 / 9;
    grid-template-columns: repeat(8, 1fr);
  }

  @include tablet {
    grid-column: 1 / 9;
    grid-template-columns: repeat(8, 1fr);
  }

  @include desktop {
    grid-column: 1 / 13;
    grid-template-columns: repeat(12, 1fr);
  }
}

@mixin center-grid-column {
  grid-column: 1 / 5;

  @include medium {
    grid-column: 3 / 7;
  }

  @include tablet {
    grid-column: 3 / 7;
  }

  @include desktop {
    grid-column: 4 / 10;
  }
}